/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* CUSTOM CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Body{
  display: flex;
  flex-direction: row;
  width:100vw;
  justify-content: space-between;
}

nav{
  width:15%;
  border-right: 1px solid rgba(167, 165, 165, 0.479);
  background-color: #dee1e7;
  height:100vh;

  /* position: fixed; */

  display:flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

nav ul{
  display: flex;
  height:25%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 80px;
  list-style: none;
}

i{
  padding-right: 10px;
}

a{
  text-decoration: none;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  color: #393b41;
}

/* **************MAIN*************** */

main{
  width:60%;
  border-right: 1px solid rgba(167, 165, 165, 0.479);
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: 0;
}

header{
  margin: 50px;
  margin-bottom: 0;
  position: relative;
}

.todos-container h1{
  margin-top: 50px;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

#main-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 20px auto 40px;
  border-bottom: 1px solid #aab4be;
}

#main-menu li{
  padding: 20px 35px;
  font-size: 1.3rem;
  color: #aab4be;
}

#main-menu li:hover{
  cursor: pointer;
}

.active{
  color:rgb(1, 142, 100) !important;
  border-bottom: 2px solid rgb(1, 142, 100);
}

.todos-container{
  padding: 50px;
  padding-top: 0;
}

.todo{
  margin:30px;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  color:lightslategray;
  position: relative;
  display: flex;
  align-items: center;
}

.todo label{
  width: 90%;
}

.todo:hover{
  transform: translateX(5px);
  cursor: pointer;
}

.show-pending-container{
  padding: 15px 50px;
  font-family: Helvetica, sans-serif;
  background-color: #97c0b94d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(1,142,100);
  border-bottom: none;
}

.show-pending-container input {
  accent-color: rgb(1,142,100);
}
input[type=checkbox]{
  margin-right: 30px;
  transform: scale(1.5);
}

#upcoming-heading{
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  padding-bottom: 30px;
  border-bottom: 1px solid #aab4be;
  font-weight: 400;
}

.badge{
  padding: 3px 10px;
  font-size: 0.3rem;
  height: fit-content;
  border-radius: 28px;
}

.approved{
  color: rgb(1,142,100) ;
}

.in-progress{
  color: #b1a1d1;
  background-color: #ecebfa;
}

.in-review{
  color: #cea7a6;
  background-color: #f9e4e4;
}

.waiting{
  background-color: #e1e3e6;
  color: #908f9a;
}

/* ****************ASIDE**************** */

aside{
  width:25%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

#profile{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px;
}

#schedule h1{
  margin: 20px;
  font-size: 1.8rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  opacity: 0.5;
}

.meeting-card{
  background-color: #f9e4e4;
  position: relative;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  width:80%;
  margin: 20px auto;
}

.meeting-time{
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 8px;
  color: #908f9a;
}

.meeting-topic{
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 8px;
  color: #393b41;
}

.fa-ellipsis-vertical{
  position: absolute;
  top:20%;
  right:5%;
}

.attendies{
  margin:10px;
}
.attendies img{
  width: 30px;
  border-radius: 50%;
}

@media screen and (max-width:1200px) {
  nav{
      display: none;
  }
  main{
      width:100%;
      margin-left: 0;
  }
  #main-menu li{
      padding: 10px 35px;
      font-size: 1rem;
      color: #aab4be;
  }
  .todos-container{
      padding: 10px;
  }

  #upcoming-heading{
      margin-left: 40px;
  }

  .meeting-card{
      padding: 10px;
  }

  aside{
      width: 35%;
  }
}

@media screen and (max-width:768px){
  body{
      flex-direction: column;
  }

  main{
      width:100%;
      height: auto;
      overflow: auto;
  }
  aside{
      width: 100%;
      height: auto;
      overflow: auto;
  }

  #profile{
      justify-content: flex-start;
  }

}

#add-todo-form{
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-todo-form input{
  width:80%;
  height:50px;
  border: none;
  border-bottom: 1px solid rgb(1, 142, 100);
  font-size: 1.2rem;
  padding: 20px;
}

#add-todo-form button{
  width: 6rem;
  height:50px;
  border: 1px solid rgb(1, 142, 100);
  color: rgb(1, 142, 100);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
}

i.todo-star{
  margin-right: 50px;
}